<section class="container d-flex align-items-center" id="s5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row py-5 text-center">
                <div class="col-12">
                    <p class="text-red my-0">
                        05. ¿Cuál es el siguiente paso?
                    </p>
                </div>
                <div class="col-12">
                    <p class="inter text-white display-2 my-0">
                        Ponte en Contacto
                    </p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-md-6 pb-3">
                        Actualmente estoy abierto a nuevas oportunidades de trabajo. Puedes ponerte en contacto conmigo a través de mis redes o enviarme un <span class="text-red">correo electrónico.</span>
                    </p>
                </div>
                <div class="col-12">
                    <p>
                        <a href="mailto:tomasvillarruel18@gmail.com " class="btn-red py-3">¡Hablemos!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
