
<section class="container section-vh" id="s2">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row align-items-center">
                <p class="text-red pb-4">
                    02. <span class="inter text-white h3">Acerca de mí</span> 
                </p>
                <div class="col-8 mx-auto pb-4 d-md-none">
                    <div class="image-container">
                        <img src="./assets/img/tomas.png" alt="" class="img-fluid tomas-img">
                    </div>
                </div>
                <div class="col-md-7">
                    <div>
                        <p>
                            Mi especialización se encuentra en el ámbito del Front-End y Back-End, y cuento con una amplia experiencia en el diseño y desarrollo de componentes y páginas web utilizando las tecnologías más actuales. Entre las herramientas y tecnologías que manejo se incluyen <span class="text-red">JavaScript</span>, <span class="text-red">Typescript</span>, <span class="text-red">Angular</span>, <span class="text-red">Bootstrap</span>, <span class="text-red">Django</span>, <span class="text-red">Django Rest Framework</span>, <span class="text-red">PHP</span>, <span class="text-red">SQL</span>,  
                            <span class="text-red">MySQL</span>, entre otras destacadas.

                        </p>
                        <p class="py-3">
                            Además, estoy abierto a la exploración de proyectos independientes, donde puedo aplicar mis habilidades y conocimientos de desarrollo web de manera autónoma. Siempre estoy en busca de oportunidades para <span class="text-red">aprender</span> y <span class="text-red">mejorar</span>, tanto en mi trabajo individual como en colaboración con equipos.
                        </p>
                    </div>
                    <div>
                        <p>
                            Aquí hay algunas de las tecnologías en las que he estado trabajando recientemente:
                        </p>
                        <div class="row py-2">
                            <ul class="s2__list col-5 col-md-3">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Bootstrap</li>
                            </ul>
                            <ul class="s2__list col-5 col-md-3">
                                <li>JavaScript</li>
                                <li>Angular</li>
                                <li>GIT</li>
                            </ul>
                            <ul class="s2__list col-5 col-md-3">
                                <li>Python</li>
                                <li>Django</li>
                                <li>Django Rest</li>
                            </ul>
                            <ul class="s2-list col-5 col-md-2">
                                <li>PHP</li>
                                <li>SQL</li>
                                <li>MySQL</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4 mx-auto d-none d-md-block">
                    <div class="s2__image-container">
                        <img src="./assets/img/tomas.png" alt="" class="img-fluid s2__profile-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>