
<section class="container section-vh py-5 animate__animated animate__fadeIn" id="s2">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row align-items-center">
                <p class="text-red pb-4">
                    02. <span class="inter text-white h3">Acerca de mí</span> 
                </p>
                <div class="col-8 mx-auto pb-4 d-md-none">
                    <div class="s2__image-container">
                        <img src="./assets/img/tomas.png" alt="" class="img-fluid s2__profile-img">
                    </div>
                </div>
                <div class="col-md-7">
                    <div>
                        <p>
                            Mi experiencia abarca tanto el ámbito del Front-End como el Back-End. Entre las herramientas y tecnologías que manejo se incluyen <span class="text-red">JavaScript</span>, <span class="text-red">Typescript</span>, <span class="text-red">Angular</span>, <span class="text-red">Bootstrap</span>, <span class="text-red">Django</span>, <span class="text-red">Django Rest Framework</span>, <span class="text-red">PHP</span>, <span class="text-red">SQL</span>,  
                            <span class="text-red">MySQL</span>, entre otras destacadas.

                        </p>
                        <p class="">
                            Además del desarrollo, mi trayectoria en distintos rubros me enseñó la importancia de la colaboración en equipo, una habilidad clave en cualquier ambiente laboral.
                        </p>

                        <p class="">
                            Mis estudios me permitieron colaborar en proyectos estudiantiles y con programadores profesionales, y mi amor por el desarrollo siempre me llevo a crear mis propios proyectos.
                        </p>

                        <p class="">
                            Siempre busco oportunidades para aprender, crecer y aplicar mis habilidades y conocimientos. Estoy emocionado por contribuir, aprender y seguir creciendo.

                        </p>

                        <p class="">
                            ¡Gracias por conocerme y por entrar a mi portafolio! Estoy ansioso por ser parte de nuevos proyectos y contribuir al éxito mas que comprometido.
                        </p>
                    </div>
                    <!-- <div>
                        <p>
                            Aquí hay algunas de las tecnologías en las que he estado trabajando recientemente:
                        </p>
                        <div class="row py-2">
                            <ul class="s2__list col-5 col-md-3">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Bootstrap</li>
                            </ul>
                            <ul class="s2__list col-5 col-md-3">
                                <li>JavaScript</li>
                                <li>Angular</li>
                                <li>GIT</li>
                            </ul>
                            <ul class="s2__list col-5 col-md-3">
                                <li>Python</li>
                                <li>Django</li>
                                <li>Django Rest</li>
                            </ul>
                            <ul class="s2__list col-5 col-md-2">
                                <li>PHP</li>
                                <li>SQL</li>
                                <li>MySQL</li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="col-4 mx-auto d-none d-md-block">
                    <div class="s2__image-container">
                        <img src="./assets/img/tomas.png" alt="" class="img-fluid s2__profile-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>