<section class="container section-vh d-flex align-items-center">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row text-center">
                <div class="col-12">
                    <p class="text-red my-0">
                        01. Hola, mi nombres es
                    </p>
                </div>
                <div class="col-12">
                    <p class="inter-title">
                        Tomás Villarruel
                    </p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-md-6 pb-3">
                        <span class="text-red">Desarrollador Backend</span> apasionado por la tecnología y motivado por un constante deseo de aprendizaje.
                    </p>
                </div>
                <div class="col-12">
                    <p>
                        <a href="#s5" class="btn-red py-3">Contáctame!</a>
                    </p>
                </div>

            </div>
        </div>
    </div>   
</section>