

  <ul class="grid my-20 animate__animated animate__fadeInUp">
    <li
      class="card-project "
      *ngFor="let project of projects | slice:0:projectsToShow"
      >
        <div class="card-project-header">
            <div class="d-flex justify-content-between">
                <img src="./assets/img/icons/folder.png" alt="" width="36px">
                <div class="d-flex align-items-center">
                    <a [href]=" project.github " target="_blank" class="z-2 me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="28" height="28"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path></svg>
                    </a>
                    <a [href]=" project.page " *ngIf=" project.page " target="_blank" class="z-2 ms-1" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="28" height="28"><path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path></svg>
                    </a>
                </div>
            </div>

            <p>
                <a [href]=" project.page " *ngIf=" project.page " target="_blank" class="card-project-url">
                    {{ project.name }}
                </a>
                <a [href]="project.github" *ngIf=" !project.page " target="_blank" class="card-project-url">
                    {{ project.name }}
                </a>
            </p>

            <p class="card-project-description">
                {{ project.description }}
            </p>
        </div>
        <div>
            <ul class="card-project-list">
                <li class="card-project-categories">
                    <span class="card-project-category small">
                        <app-technologies [technologies]="project.technologies"></app-technologies>


                    </span>
                </li>
            </ul>
        </div>
    </li>
  </ul>
  <div
    class="d-flex justify-content-center"
    *ngIf="initialProjectsToShow < projects.length"
  >
    <p class="btn-red" (click)="showProjects()">
        {{ buttonText }}
    </p>
  </div>
