
#s2{
    .s2-list{
        list-style: none;
        margin: 0;
        padding: 0;
        
        & li{
            position: relative;
            padding-left: 1.5rem;
        }

        
    }
    
    .image-container {
        position: relative;
        display: inline-block;
    
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--red);
            opacity: 0.2;
            transition: opacity 0.3s; 
        }
    
        &:hover::before {
            opacity: 0;
        }

        .tomas-img{
            border: 0.1rem solid var(--red);
        }
      }
}

#s5{
    .s5-list{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    
        & li{
            margin: 0;
            padding: 0;

            & a{
                color: var(--red);
                transition: color 0.3s;
            }
        }
      }

      .branch{
        color: var(--gray-light);
        transition: color 0.3s;

        &:hover{
            color: var(--red);
        }
     }
}


  
