<section class="container section-vh d-flex align-items-center">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row text-center">
                <div class="col-12">
                    <p class="text-red my-0">
                        01. Hola, mi nombres es
                    </p>
                </div>
                <div class="col-12">
                    <p class="inter-title">
                        Tomás Villarruel
                    </p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-md-6 pb-3">
                        <span class="text-red">Desarrollador Backend</span> apasionado por la tecnología y motivado por un constante deseo de aprendizaje.
                    </p>
                </div>
                <div class="col-12">
                    <p>
                        <a href="#s5" class="btn-red py-3">Contáctame!</a>
                    </p>
                </div>

            </div>
        </div>
    </div>   
</section>


<section class="container section-vh" id="s2">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row align-items-center">
                <p class="text-red pb-4">
                    02. <span class="inter text-white h3">Acerca de mí</span> 
                </p>
                <div class="col-8 mx-auto pb-4 d-md-none">
                    <div class="image-container">
                        <img src="./assets/img/tomas.png" alt="" class="img-fluid tomas-img">
                    </div>
                </div>
                <div class="col-md-7">
                    <div>
                        <p>
                            Mi especialización se encuentra en el ámbito del Front-End y Back-End, y cuento con una amplia experiencia en el diseño y desarrollo de componentes y páginas web utilizando las tecnologías más actuales. Entre las herramientas y tecnologías que manejo se incluyen <span class="text-red">JavaScript</span>, <span class="text-red">Typescript</span>, <span class="text-red">Angular</span>, <span class="text-red">Bootstrap</span>, <span class="text-red">Django</span>, <span class="text-red">Django Rest Framework</span>, <span class="text-red">PHP</span>, <span class="text-red">SQL</span>,  
                            <span class="text-red">MySQL</span>, entre otras destacadas.

                        </p>
                        <p class="py-3">
                            Además, estoy abierto a la exploración de proyectos independientes, donde puedo aplicar mis habilidades y conocimientos de desarrollo web de manera autónoma. Siempre estoy en busca de oportunidades para <span class="text-red">aprender</span> y <span class="text-red">mejorar</span>, tanto en mi trabajo individual como en colaboración con equipos.
                        </p>
                    </div>
                    <div>
                        <p>
                            Aquí hay algunas de las tecnologías en las que he estado trabajando recientemente:
                        </p>
                        <div class="row py-2">
                            <ul class="s2-list col-5 col-md-3">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Bootstrap</li>
                            </ul>
                            <ul class="s2-list col-5 col-md-3">
                                <li>JavaScript</li>
                                <li>Angular</li>
                                <li>GIT</li>
                            </ul>
                            <ul class="s2-list col-5 col-md-3">
                                <li>Python</li>
                                <li>Django</li>
                                <li>Django Rest</li>
                            </ul>
                            <ul class="s2-list col-5 col-md-2">
                                <li>PHP</li>
                                <li>SQL</li>
                                <li>MySQL</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4 mx-auto d-none d-md-block">
                    <div class="image-container">
                        <img src="./assets/img/tomas.png" alt="" class="img-fluid tomas-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-experience></app-experience>
<app-projects></app-projects>


<section class="container section-vh d-flex align-items-center" id="s5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row py-5 text-center">
                <div class="col-12">
                    <p class="text-red my-0">
                        05. ¿Cuál es el siguiente paso?
                    </p>
                </div>
                <div class="col-12">
                    <p class="inter text-white display-2 my-0">
                        Ponte en Contacto
                    </p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-md-6 pb-3">
                        Actualmente estoy abierto a nuevas oportunidades de trabajo. Puedes ponerte en contacto conmigo a través de mis redes o enviarme un <span class="text-red">correo electrónico.</span>
                    </p>
                </div>
                <div class="col-12">
                    <p>
                        <a href="mailto:tomasvillarruel18@gmail.com " class="btn-red py-3">¡Hablemos!</a>
                    </p>
                </div>
            </div>
            <div class="row justify-content-center pt-5">
                <div class="col-auto">
                    <ul class="s5-list">
                        <li>
                           <a href="https://github.com/tomivillarruelDev" target="_blank">
                            <img src="./assets/img/icons/github.png" alt="" width="30px"> 
                           </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/tomasvillarruel" target="_blank">
                                <img src="./assets/img/icons/linkedin.png" alt="" width="30px"> 
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <a href="https://github.com/tomivillarruelDev/portfolio" class="branch">
                        <img src="./assets/img/icons/branch.png" alt="" width="24">
                        Creado por Tomás Villarruel.
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

