<section class="w-full lg:w-[740px] mx-auto mt-20 py-5">
  <div class="flex-row justify-center ">
    <ul class="footer__list">
      <li>
        <a href="https://github.com/tomivillarruelDev" target="_blank">
          <img src="./assets/img/icons/github.png" alt="" width="30px" />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/tomasvillarruel" target="_blank">
          <img src="./assets/img/icons/linkedin.png" alt="" width="30px" />
        </a>
      </li>
    </ul>



        <div class="py-2">
          <a
            href="https://github.com/tomivillarruelDev/portfolio"
            target="_blank"
            class="footer-branch"
          >
            <img src="./assets/img/icons/branch.png" alt="branch" class="footer-branch__img text-base" />
            Desarrollado por Tomás Villarruel.
          </a>
        </div>


  </div>
</section>
