
<section class="container section-vh align-items-center d-flex" id="s3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row justify-content-sm-center">
                <div class="col-12 p-md-0">
                    <p class="text-red p-0">
                        03. <span class="inter text-white h3">Educación</span> 
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="row flex-md-column align-items-center s5__course">
                        <div *ngFor=" let course of courses; let idx = index " 
                        (click)=" seeInfo(idx) " class="col-5 col-md-12 s5-btn" [ngClass]="{'s5__course-active': idx == selected_idx }">
                            <p class="s5__course-title">
                                {{ course.name }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 s5__course-container">
                    <p class="inter text-white fs-2 mb-0">
                        {{ course.name }}
                    </p>
                    <p class="inter text-red fs-5 ">
                        {{ course.company }}
                    </p>
                    <p class="fs-6">
                        {{ course.date }}
                    </p>
                    <p>
                        {{ course.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>