.s5-active{
    border: 0.1rem solid var(--red);
    border-right: none;

    .course{
        color: white;
    }
}

.s5-btn{
    cursor: pointer;
    margin: 0;
    padding:0.6rem 0.6rem;
    text-align: center;
     .course{
        margin: 0;
        width: 100%;
        transition: color 0.3s ease-in-out;

        &:hover{
            color: white;
        }
    } 

}

.s5-container{
    padding-left: 2rem;
    border-left: 0.1rem solid var(--red);

}

@media (max-width: 768px) {
    .s5-container{
        border: none;
    }

    .s5-btn{
        padding: 0.9rem 0.9rem;
        text-align: center;
        margin:0 auto;
    }

    .s5-active{
        border: 0.1rem solid var(--red);
    }
}